fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
email-validator
passlib[bcrypt]
bcrypt==3.2.0
python-dotenv
pytest
pytest-cov
pytest-asyncio
pytest-mock
httpx
python-jose[cryptography]
python-multipart